.recommenders/
.metadata/
*.class
**/bin/
**/obj/
**/gen/
**/build/
local.properties
project
**/build/
.gradle
.DS_Store
/.idea/
**/*.iml
*.iml
/captures
/.idea/*
/build
/captures
/out
.project
.classpath
.mp4
.tgz
